<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My App</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-item>
      <ion-label>Username</ion-label>
      <ion-input type="text" placeholder="Enter username" [(ngModel)]="user.username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password" placeholder="Enter password" [(ngModel)]="user.password"></ion-input>
    </ion-item>
    
    <ion-button color = "success" expand="full"  routerLink='/tabs' (click)="login()" [disabled]="!username || !pass">Login</ion-button>
    <ion-item>
    <ion-label> Not yet registered?</ion-label>
    <ion-button color = "success" expand="full" routerLink='/register'>Register</ion-button>
    </ion-item>
  </div>
</ion-content>
